@import 'xbem';
@import 'theme';

@include block('featureSelection') {
  @include flex();

  @include element('row') {
    @include flex($direction: row);
    align-items: center;

    @include state('spaceBetween') {
      justify-content: space-between;
    }

    @include state('right') {
      justify-content: flex-end;
    }

    @include state('marginBottom') {
      margin-bottom: setMultipliedSize(3, 0);
    }
  }

  @include element('featureSection') {
    padding-bottom: setMultipliedSize(2);
    border-bottom: setMultipliedSize(1, -4) solid setColor('silver');
    align-items: flex-start;
  }

  @include element('heading') {
    border-bottom: setSize('1px') solid setColor('silver');
    padding-bottom: setMultipliedSize(2, -2);
    @include element('text') {
      font-size: setFontSize('h1');
    }

    @include element('selectedText') {
      font-size: setFontSize('h4');
      .icon-error {
        padding-left: setMultipliedSize(1);
        color: setColor('red');
        cursor: pointer;
      }
    }

    .icon-close2 {
      cursor: pointer;
      font-size: setFontSize('h2');
    }

  }

  @include element('column') {
    @include flex($direction: column);
  }

  @include element('filters') {
    flex: 2;

    @include element('heading') {
      font-size: setFontSize('h4');
      padding: setMultipliedSize(2) 0 setMultipliedSize(3, 2);
    }

    @include element('values') {
      padding: setMultipliedSize(4) 0;
      margin-right: setMultipliedSize(5, 1);
      border-right: setSize('1px') solid setColor('silver');
    }
  }

  @include element('featuresList') {
    flex: 3;

    @include element('heading') {
      font-size: setFontSize('h4');
    }

    @include element('listing') {
      margin-top: setMultipliedSize(4);
      height: setMultipliedSize(60);
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        background-color: setColor('default-dark');
        border-radius: setMultipliedSize(1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: setColor('mid-grey');
        border-radius: 5setMultipliedSize(1);
      }

      @include element('checkboxWithLabel') {
        width: 100%;
        display: block;
        overflow: hidden;
      }
    }
  }

  @include element('search') {
    @include flex(row);
    align-items: center;
    width: setMultipliedSize(50);
    height: setMultipliedSize(8, -2);
    border-bottom: setMultipliedSize(1, -4) solid setColor('mid-grey');
    @include element('input') {
      border: 0 !important;
      background-color: transparent !important;
      outline: 0;
      width: 100%;
      @include H4(setColor('mid-grey'));
      letter-spacing: -0.2px;
      line-height: 1;
    }
    @include element('icon') {
      margin-left: auto;
      color: setColor('orange');
      font-size: setFontSizeNew('h4', 'big');
    }
  }
}
