@mixin flex(
  $direction: column,
  $grow: null,
  $shrink: null,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  @if($grow) {
    flex-grow: $grow;
  }
  @if($shrink) {
    flex-shrink: $shrink;
  }
  @if($wrap) {
    flex-wrap: $wrap;
  }
}
