@import 'xbem';
@import 'theme';

$selectBoxPadding : 15px;

@include block('analytics-logs') {
    @include flex(column);

    .tabsV2 {
        justify-content: center;
    }

    @include element('row') {
        @include flex(row);

        @include modifier('filter') {
            justify-content: flex-end;
            padding-bottom: setMultipliedSize(4);
        }
    }

    @include element('header') {
        @include flex(row);
        justify-content: center;
        align-items: center;
    }
}

@include block('historical'){
    position: relative;
    margin-left: auto;
}
@include block('behavior'){
    position: absolute;
    margin-top: 30px;
    right: 30px;
    z-index: 10;
}