$icomoon-font-path: "public/icons/fonts" !default;

$icon-mute: "\e93c";
$icon-speaker: "\e941";
$icon-group-3: "\e939";
$icon-trash-outline: "\e938";
$icon-tab: "\e937";
$icon-information: "\e934";
$icon-expand-square: "\e935";
$icon-full-size: "\e936";
$icon-restart: "\e932";
$icon-ip: "\e930";
$icon-edit: "\e92c";
$icon-retrain: "\e933";
$icon-refresh: "\e931";
$icon-add: "\e92d";
$icon-remove: "\e92e";
$icon-close2: "\e92f";
$icon-download: "\e92a";
$icon-export: "\e92b";
$icon-M-icon: "\e929";
$icon-Arrow-up-icon: "\e925";
$icon-Down-arrow-icon: "\e926";
$icon-Inactive-deploy-icon: "\e927";
$icon-Calendar-icon: "\e928";
$icon-Trash-icon: "\e921";
$icon-Info-icon: "\e922";
$icon-Deploy-icon: "\e923";
$icon-Cancel-icon: "\e924";
$icon-request: "\e91f";
$icon-hpa: "\e920";
$icon-file-o: "\f016";
$icon-frown-o: "\f119";
$icon-chord: "\e91e";
$icon-success: "\e91a";
$icon-info: "\e91b";
$icon-error: "\e91c";
$icon-question: "\f128";
$icon-close: "\f00d";
$icon-remove2: "\f00d";
$icon-times: "\f00d";
$icon-cog2: "\f013";
$icon-gear: "\f013";
$icon-tag: "\f02b";
$icon-tags: "\f02c";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-arrow-right: "\f061";
$icon-exclamation-triangle: "\f071";
$icon-warning: "\f071";
$icon-calendar: "\f073";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-bar-chart: "\f080";
$icon-bar-chart-o: "\f080";
$icon-cogs: "\f085";
$icon-gears: "\f085";
$icon-group: "\f0c0";
$icon-users: "\f0c0";
$icon-chain: "\f0c1";
$icon-link: "\f0c1";
$icon-list-ul: "\f0ca";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-down: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-sort-up: "\f0de";
$icon-dashboard: "\f0e4";
$icon-tachometer: "\f0e4";
$icon-file-text-o: "\f0f6";
$icon-angle-down: "\f107";
$icon-code: "\f121";
$icon-shield: "\f132";
$icon-minus-square-o: "\f147";
$icon-plus-square-o: "\f196";
$icon-binoculars: "\f1e5";
$icon-area-chart: "\f1fe";
$icon-pie-chart: "\f200";
$icon-line-chart: "\f201";
$icon-connectdevelop: "\f20e";
$icon-heartbeat: "\f21e";
$icon-server: "\f233";
$icon-spider: "\e91d";
$icon-share-1: "\e919";
$icon-precision: "\e917";
$icon-price-tag: "\e918";
$icon-atoms: "\e910";
$icon-dashboard2: "\e911";
$icon-ipo: "\e912";
$icon-link-symbol: "\e913";
$icon-folder: "\e914";
$icon-pie-chart2: "\e915";
$icon-presentation: "\e916";
$icon-top-view: "\e90e";
$icon-bottom-view: "\e90f";
$icon-unknown: "\e90d";
$icon-profile: "\e90c";
$icon-empty: "\e903";
$icon-cog: "\e900";
$icon-confirm: "\e901";
$icon-suspicious: "\e902";
$icon-hosting: "\e904";
$icon-deny: "\e905";
$icon-laptop: "\e906";
$icon-user: "\e907";
$icon-search: "\e908";
$icon-inspect: "\e909";
$icon-malicious: "\e90a";
$icon-world: "\e90b";
$icon-lock: "\e93f";
$icon-user-login: "\e93e";
$icon-eyeglasses: "\e93d";
$icon-drag: "\e940";
$icon-mean: "\e93a";
$icon-actual: "\e93b";
$icon-log-manager: "\e942";