@import 'xbem';
@import 'theme';

$width: 49%;
$width100: 100%;

@include block('newReport') {
	@include flex();
  justify-content: space-between;
  
  @include element('row') {
	  @include flex($direction: row);
	  align-items: center;
    margin-bottom: setMultipliedSize(4);
    
    @include state ('spaceBetween') {
      justify-content: space-between;
    }

    @include state ('error') {
      .materialInput label,
      .Select-placeholder {
        color: setColor('red');
      }
    }

	  @include state('rightSide') {
	    margin-left: auto;
    }
    
    .selectBox {
      max-width: unset;
      .selectBox__box {
        overflow: visible;
      }
    }
  }
  
  .materialInput {
    flex: 1;
    padding-left: 0;
    font-size: setFontSizeNew('h4');
    &::placeholder {
      color: setColor('silver');
    }
  }

  @include element('firstrow') {
    padding-bottom: setMultipliedSize(3);
    border-bottom: setMultipliedSize(1, -3) solid setColor('silver');
  }

  @include element('title') {
    @include H2(setColor('white'));
  }

  .icon-close {
    font-size: setFontSizeNew('h4', 'big');
    cursor: pointer;
  }

  @include element('mode') {
    flex: 1;
    margin-left: 2%;
  }

  @include element('pipeline') {
    width: $width;
  }

  @include element('rules') {
    width: $width100;

    .Select {
      position: relative;
      .Select-menu-outer {
        position: absolute;
        width: $width100;
      }
      .Select-placeholder {
        padding-bottom: setMultipliedSize(3);
      }
      .Select-input {
        input {
          opacity: 0;
        }
      }
      .Select-value {
        .Select-value-label {
          color: setColor('white');
          text-decoration: none;
        }
      }
      .Select-value-label {
        word-break: break-word;
      }
    }
  }
}