@import 'xbem';
@import 'theme';

@include block('legend') {
  @include flex();

  @include element('item') {
    padding: setMultipliedSize() 0;

    color: setColor('white');
    font-size: setFontSizeNew('h5');
    font-weight: setFontWeight('book');

    @include flex(row);

    $bulletSize: 12px;
    @include element('bullet') {
      display: block;
      width: 12px;
      height: 12px;
      margin-right: setMultipliedSize(2);

      @include radius(50%, 50%, 50%, 50%);
    }
  }
}
