@import 'xbem';
@import 'theme';

@include block('legendContainer') {
  width: 50%;
  @include respond-to(map-get($viewports, 'medium')) {
    width: 55%;
  }

  @include element('svg') {
    height: 95%;
    width: 100%;
  }
}

@include block('legend') {
  text {
    fill: setColor('white');
  }

  @include element('labels') {
    text {
        font-size: setFontSizeNew('h4');

        &:hover {
          cursor: pointer;
        }
    }
  }

  @include element('percentages') {
      text {
        fill: setColor('orange');
        font-weight: setFontWeight('bolder');
      }
  }
}
