@import 'xbem';
@import 'theme';

@include block(dashboard-settings) {
  margin-top: setMultipliedSize(4);

  @include element (row) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: setMultipliedSize();
    padding-bottom: setMultipliedSize();
  }
  input {
    font-size: setFontSizeNew('h5', 'big');
    padding: setMultipliedSize(2, -2) 0;
    margin-right: auto;
    border: none;
    width: 50%;
    outline: none;
    border-bottom: 1px solid;
  }

  @include block(dashboard-actions) {
    margin-top: setMultipliedSize(3);
    text-align: right;
  }
}
