@import 'xbem';
@import 'theme';

@include block('search') {
    @include flex($direction: row);
    width: 100%;

    max-width: 300px;
    min-width: 200px;

    margin-right: setMultipliedSize(2);
    margin-bottom: setMultipliedSize(2);
    margin-left: auto;

    border: 0;
    border-radius: 0;
    border-bottom: 1px solid setColor('light-grey');

    @include element('input') {
        border: 0;
        width: 100%;
        color: setColor('white');
        outline: 0;
    }

    @include element('icon-search') {
        font-size: setFontSizeNew('h4', 'big');
        color: setColor('orange');
    }

    @include element('suspiciousList') {
        margin-left: inherit;
    }
}
